In [4]:
import pandas as pd

df = pd.DataFrame({"col1": [1, 2, 3, 4], "col2": ["a", "b", "c", "d"]})
df

   col1 col2
0     1    a
1     2    b
2     3    c
3     4    d

In [6]:
def str_concat(df: pd.DataFrame, delimeter: str) -> pd.DataFrame:
    df = df.assign(col3 = df["col1"].astype(str)+delimeter+df["col2"])
    return df

In [10]:
str_concat(df, "-")

   col1 col2 col3
0     1    a  1-a
1     2    b  2-b
2     3    c  3-c
3     4    d  4-d